# Compiled binaries
*.exe
*.exe~
goconvert

# Build output
/dist/

# IDE
.idea/
.vscode/

# Test output
*.out

#Environment
.env
.env.*

#Go test cache
*.test

# Go coverage
coverage.out
coverage.html
